.nav-header {
  padding: 0 15px;
}

.content {
  min-height: calc(100vh - 70px - 64px);
  padding: 20px 0;
}

.grid-cards {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card {
  cursor: pointer;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card-content {
  flex-grow: 1;
}

.card-title {
  color:rgb(38, 54, 54) !important;
  font-weight: 600 !important;
  background-color: rgb(255, 255, 255);
  padding: 10px !important;
}

.recipe-img {
  max-width: 70%;
}
@media (min-width: 700px) {
  .recipe-img {
    max-width: 40%;
  }
}

.frame {
  max-width: 100%;
  width: 600px;
  height: 350px;
}

.btn-search {
  position: absolute;
  top: 0;
  right: 0;
}
